apiVersion: 1

datasources:
  - name: alertmanager
    uid: alertmanager
    type: alertmanager
    access: proxy
    url: https://alertmanager.$DOMAIN
    isDefault: false
    jsonData:
      handleGrafanaManagedAlerts: true
      implementation: prometheus
      pdcInjected: false

  - name: prometheus
    uid: prometheus
    type: prometheus
    access: proxy
    url: https://victoriametrics.$DOMAIN
    isDefault: true
    jsonData:
      pdcInjected: false

  - name: victoriametrics-logs-datasource
    uid: victorialogs
    type: victoriametrics-logs-datasource
    access: proxy
    url: https://victorialogs.$DOMAIN
    isDefault: false
    jsonData:
      pdcInjected: false
      tlsAuthWithCACert: false

  - name: victoriametrics-metrics-datasource
    uid: victoriametrics
    type: victoriametrics-metrics-datasource
    access: proxy
    url: https://victoriametrics.$DOMAIN
    isDefault: false
    jsonData:
      httpMethod: GET
      pdcInjected: false
