apiVersion: 1

# Straight to the services in the cluster (not through nginx), verified with the monitoring CA.
# $__file{} is Grafana's, it reads the CA from the mounted secret.
datasources:
  - name: alertmanager
    uid: alertmanager
    type: alertmanager
    access: proxy
    url: https://alertmanager.${K8S_NAMESPACE}.svc:${ALERTMANAGER_HTTP_PORT}
    isDefault: false
    jsonData:
      handleGrafanaManagedAlerts: true
      implementation: prometheus
      pdcInjected: false
      tlsAuthWithCACert: true
    secureJsonData:
      tlsCACert: $__file{/etc/grafana/tls/ca.crt}

  - name: prometheus
    uid: prometheus
    type: prometheus
    access: proxy
    url: https://victoriametrics.${K8S_NAMESPACE}.svc:${VICTORIAMETRICS_HTTP_PORT}
    isDefault: true
    jsonData:
      pdcInjected: false
      tlsAuthWithCACert: true
    secureJsonData:
      tlsCACert: $__file{/etc/grafana/tls/ca.crt}

  - name: victoriametrics-logs-datasource
    uid: victorialogs
    type: victoriametrics-logs-datasource
    access: proxy
    url: https://victorialogs.${K8S_NAMESPACE}.svc:${VICTORIALOGS_HTTP_PORT}
    isDefault: false
    jsonData:
      pdcInjected: false
      tlsAuthWithCACert: true
    secureJsonData:
      tlsCACert: $__file{/etc/grafana/tls/ca.crt}

  - name: victoriametrics-metrics-datasource
    uid: victoriametrics
    type: victoriametrics-metrics-datasource
    access: proxy
    url: https://victoriametrics.${K8S_NAMESPACE}.svc:${VICTORIAMETRICS_HTTP_PORT}
    isDefault: false
    jsonData:
      httpMethod: GET
      pdcInjected: false
      tlsAuthWithCACert: true
    secureJsonData:
      tlsCACert: $__file{/etc/grafana/tls/ca.crt}
