global:
  scrape_interval: 15s
  scrape_timeout: 10s

scrape_configs:
  - job_name: node
    metrics_path: /metrics
    static_configs:
      - targets:
        - "prod-rsyslog001.${DOMAIN}:9100"
        - "prod-rsyslog002.${DOMAIN}:9100"
        - "prod-redis001.${DOMAIN}:9100"
        - "prod-rabbitmq001.${DOMAIN}:9100"
        - "prod-contentbot001.${DOMAIN}:9100"
        - "prod-vault001.${DOMAIN}:9100"
        - "prod-vault002.${DOMAIN}:9100"
        - "prod-grafana001.${DOMAIN}:9100"
        - "prod-landing001.${DOMAIN}:9100"
        - "atlas.${DOMAIN}:9100"
    scheme: http
    relabel_configs:
      - source_labels: [__address__]
        regex: "([^:]+):.*"
        target_label: instance
        replacement: "$1"
  - job_name: "vault"
    metrics_path: /v1/sys/metrics
    params:
      format: ["prometheus"]
    static_configs:
      - targets:
          - "prod-vault001.${DOMAIN}:8200"
          - "prod-vault002.${DOMAIN}:8200"
    scheme: https
    tls_config:
      insecure_skip_verify: true
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
  - job_name: "rabbitmq"
    metrics_path: /metrics
    static_configs:
      - targets:
          - "rabbitmq-metrics.${DOMAIN}"
    scheme: https
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
